* {
    box-sizing: border-box;
    font-family: 굴림, 나눔고딕;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.img {
    padding: 20px 40px 20px 130px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

#wrap {
    width: 1280px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-head {
    text-align: right;
    padding: 20px 150px 20px 0;
}

.top-menu a {
    margin: 10px 3px;
    font-size: 12px;
    color: #666;
}

.main-menu {
    margin-top: 15px;
}

.main-menu a {
    margin: 10px 0px 10px 25px;
    font-weight: bold;
    font-size: 14px;
}

#main-img img {
    width: 100%;
    display: block;
}

#main {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 1100px;
    margin: 0 auto;
}

#sidebar {
    width: 200px;
}

.the_베이킹 {
    background-color: green;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.listhead {
    font-weight: bold;
    border-bottom: 2px solid #eeeeee;
    font-size: 20px;
    border-top: 2px solid black;
    padding: 5px 0 5px 10px;
}

#center-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0 20px;
}

.list-section {
    width: 100%;
    margin-bottom: 20px;
}

.list-head {
    font-weight: bold;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.list-body {
    display: flex;
    justify-content: space-between;
}

.line {
    padding-bottom: 10px;
}

.list-date {
    text-align: right;
    color: #888;
}

.text {
    width: 130px;
    height: 22px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 10px;
}

.button {
    padding: 5px;
}

.righthead {
    width: 480px;
}

.img-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img1 {
    width: 230px;
    height: auto;
    margin-bottom: 10px;
    padding-right: 20px;
}

.text-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.menu {
    width: 200px;
    color: #333;
    padding-top: 5px;
}

.content {
    padding: 10px 0;
}

.lists {
    margin-top: 10px;
}

#footer {
    background-color: #05344e;
    color: white;
    padding: 40px 0;
    margin-top: 50px;
}

#footer-inner {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.ftop-menu {
    display: flex;
}

.ftop-menu li{
    padding: 20px;
}

.fbottom-menu {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.fbottom-menu ul {
    flex: 1;
}

.fbottom-menu h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.fbottom-menu li {
    color: white;
}