/*[1] 만약 width,heght 생략시 상위 요소 크기를 따라감*/
.box{
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 100px;
}
.size1{width: 200px;
    height: 200px;}

/*[2]최소 사이즈*/
.size2{min-width: 600px;   /*화면이 600px보다 크면 100%이고 크면 600px로 고정*/}

.size3{
    /*내용의 높이가 100px보다 크면 100%이고 크면 100px로 고정*/
    min-height: 100px;
    width: 200px;
}

.size4{max-width: 600px;   /*화면이 600px보다 크면 600px이고 작으면 100%*/}

.size5{max-height: 100px;  /*내용의 높이가 100px보다 크면 100px이고 작으면 100%*/}

/*[4]만약에 하위 요소의 컨테츠/내용이 부모 요소의 크기가 크면/넘치면 */
.size6{width: 200px; height:100px; overflow: scroll;}/*overflow:visible이 기본값*/

.size7{width: 200px; height:100px; overflow: hidden;}/*내용이 넘치면 숨긴다*/

.size8{width: 200px; height:100px; overflow: auto;}/*내용이 넘치면 스크롤*/

.size10{width: 200px; height:100px; overflow-y: scroll;overflow: hidden;}/*overflow-y:세로축 설정, overflow-x:가로축 설정*/