a{
    text-decoration: none;color: black;
}

/*[1]선택자:hover 만일 해당 요소에 마우스를 올렸을때 */
a:hover{
    color: red; font-size: 20px;
}

/*[2]선택자:visited 만일 브라우저내 방문한 적이 있는 링크일떄*/
a:visited{
    color: blue;
}

/*[3]선택자:active 만일 해당 요소를 클릭했을(순간)*/
a:active{
    color: yellow;
    font-size: 30px;
}

/*[4]선택자::before/after HTML에는 존재하지 않지만 가상(가짜)의 요소 추가*/
.box1::before{
    content: "가상요소 공간(before)구역";
    color: aqua;
}

.box1::after{
    content: "가상요소 공간(after)구역";
    color: brown;
}

/*활용[1]:글머리*/
li{
    list-style-type: none;
}
.box2 > li::before{
    content:"★";color: red;
}

/*활용[2]:글머리2*/
.box2 > li::after{
    content: url("../DAY07/img/bread2.png");
}

/*[5]선택자:nth-of-type(순서번호) 하위 요소들이 여러개 일때 번호로 선택하기*/
.box2 > li:nth-of-type(1){
    color: red;
}